* {
  margin: 0;
  box-sizing: border-box;
}

body, 
html {
  height: 100%;
  width: 100%;
}

#root {
  background-color: #fcdfe4;
  min-height: 100%;
}


header {
  height: 90px;
  width: 100%;
  padding: 0 0 0 15px;
  background-color: #fcdfe4;
  display: flex;
  align-items: center;
}

#logo {
  height: 75%;
}

.loading {
  font-size: 40px;
  width: fit-content;
  margin: auto;
}

.info,
.score {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 2rem 0 0 0;
  font-weight: bold;
  background-color: aliceblue;
}

.score {
  font-size: 20px;
  font-weight: 100;
  padding: 10px;

}

.game {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: fit-content;
  margin: auto;
  padding: 2rem;
}

.card img{
  height: 300px;
  width: 300px;
}

