@font-face {
  font-family: quicksand;
  src: url(./Quicksand-VariableFont_wght.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: quicksand;
}

body, 
html {
  height: 100%;
  width: 100%;
}

#root {
  background-color: #a0fff6;
  min-height: 100%;
}


header {
  height: 90px;
  width: 100%;
  background-color: #a0fff6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
  header p {
    font-size: 30px;
    font-weight: bold;
  }

#logo {
  height: 55px;
}

.loading {
  position: absolute;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.info,
.score {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 1rem 0 0 0;
  font-weight: bold;
  background-color: aliceblue;
}

.score {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: fit-content;
  margin: auto;
  padding: 2rem;
}

.card img{
  height: 300px;
  width: 300px;
}

